<section class="hero">
  <div class="carousel carousel--no-arrows animated" >
    <div class="hero__img" style="background-image: url('/images/nure-banner.png');"></div>
  </div>
  <div class="hero__content">
    <%= link_to 'Детали', rules_view_path, class: 'cta cta--inline cta--inverse--white' %>
    <div class="scroll-indicator"></div>
  </div>
</section>

<section class="section news__wrapper">
  <div class="inner-wrapper">
    <aside class="frame"></aside>
    <div class="content">
      <div class="row collapse align-spaced">
        <div class="small-12 medium-5 columns news">
          <h2 class="section__title text-left">Новини</h2>
          <div class="carousel carousel--no-arrows news__dates" data-slick='{"arrows": false, "dots": false, "slidesToShow": 3, "asNavFor": "#news__content-1", "responsive": [{"breakpoint": 500, "settings": {"centerMode": true, "centerPadding": "40px"}}]}' id="news__dates-1" style: 'display: none'>
          </div>
          <div class="carousel carousel--no-arrows news__content" data-slick='{"arrows": true, "dots": false, "asNavFor": "#news__dates-1"'>
            <% @news.each do |news| %>
              <div>
                <%= image_tag news.image, height: 171, width: 446 %>
                <h3><%= news.title %></h3>
                <p><%= news.created_at.strftime("%d.%m.%Y") %></p>
                <%= link_to 'Докладніше', news.link, class: "link"%>
              </div>
            <% end %>
          </div>
        </div>
        <div class="small-12 medium-5 columns text-center beratung">
          <h2 class="section__title text-right">Контакти</h2>
          <div class="carousel carousel--no-arrows">
            <img style="width: 250px; height: 250px;" src="/images/commision.jpg" alt="">
          </div>
          <p>Телефон приймальної комісії:</p>
          <h3 class="text-gold">+49 (0)89 22 33 44 55 66</h3>
          <p class="line-through"><span>схема проїзду</span></p>
          <br>
          <%= link_to 'Контакти',  new_contact_path, class: 'cta cta--inverse cta--inline' %>
        </div>
      </div>
    </div>
    <aside class="frame"></aside>
  </div>
</section>

<section class="section">
  <div class="inner-wrapper">
    <aside class="frame"></aside>
    <div class="content">
      <div class="newsletter bg--gold row align-middle">
        <div class="small-12 medium-8 columns">
          <h3 class="newsletter__title">Слідкуйте за новинами</h3>
          <p> Наш чат-бот відповість на питання що до вступу в ХНУРЕ </p>
        </div>
        <div class="small-12 medium-4 columns">
          <form>
            <input type="submit" value="Чат-бот" class="cta cta--white">
          </form>
        </div>
      </div>
    </div>
    <aside class="frame"></aside>
  </div>
</section>
