<section class="hero">
  <div class="carousel carousel--no-arrows animated" data-animation="fadeInUp" data-animation-responsive='{"950": "fadeIn"}' data-slick='{"autoplay": true, "fade": true}'>
    <div class="hero__img" style="background-image: url('/images/nure-banner.png');"></div>
    <div class="hero__img" style="background-image: url('/images/univer.jpg');"></div>
  </div>
  <div class="hero__content">
    <%= link_to 'Детали', rules_view_path, class: 'cta cta--inline cta--inverse--white' %>
    <div class="scroll-indicator"></div>
  </div>
</section>

<section class="section">
  <div class="inner-wrapper">
    <aside class="frame"></aside>
    <article class="content">
      <h2 class="section__title">5 steps to apply</h2>
      <div class="row collapse">
        <div class="carousel carousel--deals animated" data-animation="fadeInUp" data-slick='{"slidesToShow": 5, "responsive": [{"breakpoint": 540, "settings": {"centerMode": true, "slidesToShow": 1, "centerPadding": "60px"}}]}'>
          <div class="carousel__deal">
            <a href="">
              <div class="carousel__deal__img__wrapper">
                <div class="carousel__deal__img"><img style="width: 150px; height: 150px"  src="/images/1step.png" alt=""></div>
              </div>
              <h3 class="carousel__deal__title">Lorem ipsum dolor sit amet</h3>
              <p class="carousel__deal__text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
              <p class="link">ваываы</p>
            </a>
          </div>
          <div class="carousel__deal">
            <a href="">
              <div class="carousel__deal__img__wrapper">
                <div class="carousel__deal__img"><img style="width: 150px; height: 150px" src="/images/2step.png" alt=""></div>
              </div>
              <h3 class="carousel__deal__title">Lorem ipsum dolor sit amet</h3>
              <p class="carousel__deal__text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
              <p class="link">аываываы</p>
            </a>
          </div>
          <div class="carousel__deal">
            <a href="">
              <div class="carousel__deal__img__wrapper">
                <div class="carousel__deal__img"><img style="width: 150px; height: 150px"  src="/images/3step.png" alt=""></div>
              </div>
              <h3 class="carousel__deal__title">Lorem ipsum dolor sit amet</h3>
              <p class="carousel__deal__text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
              <p class="link">вывывы</p>
            </a>
          </div>
          <div class="carousel__deal">
            <a href="">
              <div class="carousel__deal__img__wrapper">
                <div class="carousel__deal__img"><img style="width: 150px; height: 150px"  src="/images/4step.png" alt=""></div>
              </div>
              <h3 class="carousel__deal__title">Lorem ipsum dolor sit amet</h3>
              <p class="carousel__deal__text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
              <p class="link">вапвапв</p>
            </a>
          </div>
          <div class="carousel__deal">
            <a href="">
              <div class="carousel__deal__img__wrapper">
                <div class="carousel__deal__img"><img style="width: 150px; height: 150px"  src="/images/5step.png" alt=""></div>
              </div>
              <h3 class="carousel__deal__title">Lorem ipsum dolor sit amet</h3>
              <p class="carousel__deal__text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
              <p class="link">выааы</p>
            </a>
          </div>
        </div>
      </div>
    </article>
    <aside class="frame"></aside>
  </div>
</section>

<section class="section news__wrapper">
  <div class="inner-wrapper">
    <aside class="frame"></aside>
    <div class="content">
      <div class="row collapse align-spaced">
        <div class="small-12 medium-5 columns news">
          <h2 class="section__title text-left">Новости</h2>
          <div class="carousel carousel--no-arrows news__dates" data-slick='{"arrows": false, "dots": false, "slidesToShow": 3, "asNavFor": "#news__content-1", "responsive": [{"breakpoint": 500, "settings": {"centerMode": true, "centerPadding": "40px"}}]}' id="news__dates-1" style: 'display: none'>
          </div>
          <div class="carousel carousel--no-arrows news__content" data-slick='{"arrows": true, "dots": false, "asNavFor": "#news__dates-1", "responsive": [{"breakpoint": 500, "settings": {"dots": true}}]}' id="news__content-1">
            <% @news.each do |news| %>
              <div>
                <%= image_tag news.image, height: 171, width: 446 %>
                <h3><%= news.title %></h3>
                <p><%= news.description.html_safe%></p>
                <a href="" class="link">LINK</a>
              </div>
            <% end %>
          </div>
        </div>
        <div class="small-12 medium-5 columns text-center beratung">
          <h2 class="section__title text-right">Контакты</h2>
          <div class="carousel carousel--no-arrows" data-slick='{"autoplay": true}'>
            <img style="width: 250px; height: 250px;" src="/images/commision.jpg" alt="">
          </div>
          <p>Телефон приемной комиссии:</p>
          <h3 class="text-gold">+49 (0)89 22 33 44 55 66</h3>
          <p class="line-through"><span>схема проезда</span></p>
          <br>
          <%= link_to 'Контакты', contact_path, class: 'cta cta--inverse cta--inline' %>
        </div>
      </div>
    </div>
    <aside class="frame"></aside>
  </div>
</section>

<section class="section">
  <div class="inner-wrapper">
    <aside class="frame"></aside>
    <div class="content">
      <div class="newsletter bg--gold row align-middle">
        <div class="small-12 medium-8 columns">
          <h3 class="newsletter__title">Следите за новостями</h3>
          <p> Наш чат-бот ответит на любой интересующий Вас вопрос. </p>
        </div>
        <div class="small-12 medium-4 columns">
          <form>
            <input type="submit" value="Чат-бот" class="cta cta--white">
          </form>
        </div>
      </div>
    </div>
    <aside class="frame"></aside>
  </div>
</section>
