<%= simple_form_for(@term) do |f| %>
  <% if @term.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@term.errors.count, "error") %> prohibited this term from being saved:</h2>

      <ul>
      <% @term.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field frm_simple">
    <%= f.input :title %>
  </div>
  <div class="field">
    <%= f.input :text, as: :wysihtml5 %>
  </div>
  <div class="inline-buttons">
    <%= f.button :submit, 'Create term', class: 'create' %>
    <%= link_to 'Back', rules_path,  class:"cta cta--inverse cta--inline" %>
  </div>

<% end %>
