<div class="rules">
  <p id="notice"><%= notice %></p>

  <h1>Listing News</h1>

  <table class="table table-hover">

    <tbody>
      <% @news.each do |news| %>
        <tr>
          <td><%= news.title %></td>
          <td><%= truncate news.description, length: 80%></td>
          <% if user_signed_in? && current_user.admin? %>
            <td><%= link_to 'Edit', edit_news_path(news) %></td>
            <td><%= link_to 'Destroy', news, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Create NEW', new_news_path,  class:"cta cta--inverse cta--inline" %>
</div>
