<div class="rules">
  <p id="notice"><%= notice %></p>

  <h1>Додавання новини</h1>

  <table class="table table-hover">

    <tbody>
      <% @news.each do |news| %>
        <tr>
          <td><%= news.title %></td>
          <td><%= truncate news.description, length: 40 %></td>
          <% if user_signed_in? && current_user.admin? %>
            <td><%= link_to 'Редагувати', edit_news_path(news) %></td>
            <td><%= link_to 'Видалити', news, method: :delete, data: { confirm: 'Ви впевнені?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Додати новину', new_news_path,  class:"cta cta--inverse cta--inline" %>
</div>
