<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @news.title %>
</p>

<p>
  <strong>Link:</strong>
  <%= @news.link %>
</p>

<p>
  <strong>Description:</strong>
  <%= @news.description.html_safe %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @news.image, height: 600, width: 600 %>
</p>

<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
