<%= simple_form_for(@rule) do |f| %>
  <% if @rule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rule.errors.count, "error") %> prohibited this rule from being saved:</h2>

      <ul>
      <% @rule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field frm_simple">
    <%= f.input :title %>
  </div>
  <div class="field">
    <%= f.input :text, as: :wysihtml5 %>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.label :category %><br>
      <%= f.select :category, Rule.categories.keys.map { |w| [w.capitalize, w] } %>
    </div>
  </div>
  <br><br>
  <div class="inline-buttons">
    <%= f.button :submit, 'Create rule', class: 'create' %>
    <%= link_to 'Back', rules_path,  class:"cta cta--inverse cta--inline" %>
  </div>

<% end %>
