<div class="rules">
  <p id="notice"><%= notice %></p>

  <h1>Listing Rules</h1>

  <table class="table table-hover">

    <tbody>
      <% @rules.each do |rule| %>
        <tr>
          <td><%= rule.title %></td>
          <td><%= rule.category %></td>
          <% if user_signed_in? && current_user.admin? %>
            <td><%= link_to 'Edit', edit_rule_path(rule) %></td>
            <td><%= link_to 'Destroy', rule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Rule', new_rule_path,  class:"cta cta--inverse cta--inline" %>
</div>
