<div data-sticky-container>
  <header class="main-header sticky" data-sticky data-margin-top="0" data-sticky-on="small">
    <div class="inner-wrapper">
      <aside class="frame"></aside>
      <div class="content">
        <div class="row">
          <div>
            <div class="small-12 small-order-1 medium-order-2 medium-expand columns align-self-middle text-center">
              <%= link_to root_path do %>
                  <img src="/images/nure.png" alt="NURE", class="main-footer__logo">
              <% end %>
            </div>
          </div>
          <nav class="columns animated" data-animation="fadeIn" data-animation-disable="950">
            <ul>
              <li><%= link_to 'Головна', root_path%></li>
              <% if user_signed_in? && current_user.admin?  %>
                  <li><%= link_to 'Новини', news_index_path %></li>
                <% else %>
                  <li><%= link_to 'Новини', users_news_path %></li>
                <% end %>
              <li class="has-submenu">
                <% if user_signed_in? && current_user.admin?  %>
                  <%= link_to 'Правила', rules_path %>
                <% else %>
                  <%= link_to 'Правила', rules_view_path %>
                <% end %>
                <div class="submenu">
                  <ul class="row align-top align-justify">
                    <li>
                      <ul>
                        <li class="submenu__link"><%= link_to 'Вступ на 1-й курс', schooler_path %></li>
                        <li class="submenu__link"><%= link_to 'Вступ на 2-й курс', college_path %></li>
                      </ul>
                    </li>
                    <li>
                      <ul>
                        <li class="submenu__link"><%= link_to 'Вступ на магистратуру', bachelor_path %></li>
                        <li class="submenu__link"><%= link_to 'Вступ в аспирантуру', master_path %></li>
                      </ul>
                    </li>
                    <li>
                      <ul>
                        <li class="submenu__link"><%= link_to 'Іноземним громадянам', foreign_path %></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </li>
              <%if user_signed_in? && current_user.admin?%>
                <li><%= link_to 'Терміни', terms_path %></li>
              <%else%>
                <li><%= link_to 'Терміни', users_term_path %></li>
              <%end%>
              <li><%= link_to 'Запитати', '' %></li>
              <% if user_signed_in? && current_user.category == 'schooler' %>
                <li><%= link_to 'Факультети для Вас', faculties_path %></li>
              <% end %>
              <li><%= link_to 'Контакти', new_contact_path %></li>
              <% if user_signed_in? %>
                <li><%= link_to 'Вийти', destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li><a data-target="#authorization_modal" data-toggle="modal">Увійти</a></li>
              <% end %>
            </ul>
          </nav>
        </div>

        <div class="main-header__toggle__wrapper columns">
          <div class="main-header__toggle"><span></span></div>
        </div>
      </div>
      <aside class="frame"></aside>
    </div>
  </header>
</div>
